html{
  background-color: #e9f4f5;
  margin: 20px;
  font-family: cursive;
  font-size: 18px;
  text-decoration: none;
}

a:-webkit-any-link, a:-webkit-any-link:hover {
  text-decoration: none;
  color: #737678;
  padding: 5px;
}
a:-webkit-any-link:hover {
  text-decoration: none;
  color: #065c7a;
  padding: 5px;
}
.home{
  margin: 70px;
  height: 420px;

}
.lang:link{
  text-decoration:underline;
}
.counter{
  display: border-box;
  margin: 70px;
  height: 400px;
  width: 500px;

}
.forecast-desc{
  text-align: left;
}
.fetch{
  display: border-box;
  margin: 50px 70px;
  height: 450px;
  width: 75%;
  text-align: center;
}
.incr{
  display: border-box;
  padding: 4px;
  border: 2px rgba(204, 255, 204, 1) solid;
  background-color: rgba(204, 255, 204, .3);
}
.box-shadow {
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .05);
}
.is-active{
  transition: text-shadow .5s;
  text-shadow: 0 .25rem .15rem rgba(0, 0, 120, .35)
}
button{

            width: 100px;
            height:30px;
            border-radius: 4px;
            margin:5px;
            color:#666;
            background-color: #cfc;

    }
.but{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}
.navbar-brand{
  font-size: 18px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
